# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.env.development
.env
.env.local
.env.*.local
.node_modules

dist/
build/
.next/
out/

# Vite/TS Metadata
.vite/
tsconfig.tsbuildinfo

# Ignore all SQL files in the config folder
backend/src/config/*.sql

# Ignore the database connection file if it has passwords
backend/src/config/db.js

# Always ignore node_modules
node_modules/